<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Ошибка сервера</title>
    <link media="all" rel="stylesheet" type="text/css" th:href="@{/css/style_error.css}"> <!-- ссылка на css всегда должна быть самой последней -->
</head>
<body>
<div class="firstHead">
    <a class="aAdd" th:href="@{/bikes}">На главную</a>
</div>
<div>
    <h2>На сервере возникла какая-то ошибка.</h2>
</div>
<div class="mem500"></div>
<div>
    <h2>При повторном появлении пиши Антохе и Демьяну. Ссылки я не прикреплю, ты нас и так знаешь.</h2>
</div>
</body>
</html>