body{
	background-image: url("img/background.jpg");
	background-repeat:no-repeat;
    background-attachment:fixed;
    background-position:center;
    font-family: 'Averia Serif Libre', cursive;
}
button{
	font-family: 'Averia Serif Libre', cursive;
	appearance: none;
	border: 0;
	border-radius: 5px;
	background: #4676D7;
	color: #fff;
	padding: 8px 16px;
	font-size: 16px;
	border: 2px solid rgb(254,12,106);
	background: white;
	margin-top: 2%;
	margin-bottom: 2%;
}
button:hover{
	box-shadow: 0 0 0 0.2rem rgba(254, 51, 96, 0.4);
}
a{
	color: rgb(254,12,106);
}
hr{
	color: rgb(254,12,106);
	background-color: rgb(254,12,106);
	border: 2px solid rgb(254,12,106);
}
.header{
	border-radius: 5px;
	border: 2px solid rgb(254,12,106);
	text-align: center;
	color: rgb(254,12,106);
}