body{
	background-image: url("../img/background.jpg");
	background-repeat:no-repeat;
    background-attachment:fixed;
    background-position:center;
    font-family: 'Averia Serif Libre', cursive;
    
}
select{
    font-family: 'Averia Serif Libre', cursive;
}

.input-group{
	margin-top: 33px;
	text-align: center;
}
h1{
	margin-top: 2%;
	padding-left: 20%;
	text-align: center;
	color: rgb(254,51,96);;
}
input{
	font-size: 20px;
	border: 2px solid grey;
	width: 80%;
	border-radius: 5px;
	color: grey;
}
.btn{
	margin-top: 5%;
}
button{
	background: rgb(254,12,106);
	color: white;
	width: 30%;
	font-family: 'Averia Serif Libre', cursive;
	appearance: none;
	border: 0;
	border-radius: 5px;
	padding: 8px 16px;
	font-size: 16px;
}
button:hover{
	box-shadow: 0 0 0 0.2rem rgba(254, 51, 96, 0.4);
}
.button{
	text-align: center;

}
select{
	font-size: 20px;
	color: grey;
	border: 1px solid grey;
}

.form-control:focus{
	color: rgb(254,51,96);
	background-color: #fff;
	border-color: rgb(254,51,96);
	outline: 0;
	box-shadow: 0 0 0 0.2rem rgba(254, 51, 96, 0.4);
}
option{
	color: grey;
}
option:hover{
	background-color: rgb(254,51,96);
	color: white;
}
.homeBut{
	text-align: center;
}
.home{
	background: rgb(254,12,106);
	color: white;
	width: 50%;
}
a{
	text-decoration: none;
}
a:hover{
	text-decoration: none;
	color: white;
}
.add,.btn,.btn-secondary{
	background: rgb(254,12,106);
	border: 2px solid rgb(254,12,106);
	margin-top: none;
}
.header{
	margin-top: 1%;
}
.firstHead, .midleHead, .lastHead{
	display: inline-flex;
	flex-direction: column;
}
.firstHead{

}
.midleHead{
	width: 85%;
}
.lastHead{
	width: 15%;
	float: right;
	align-items: center;
}
.btn-secondary{
	width: auto;
}
.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show>.btn-secondary.dropdown-toggle{
	background: rgb(254,12,106);
	box-shadow: 0 0 0 0.2rem rgba(254, 12, 106, 0.4);
	border-color: rgb(254,51,96);
}
.btn:hover, .btn-secondary:hover{
	background: rgb(254,12,106);
	box-shadow: 0 0 0 0.2rem rgba(254, 12, 106, 0.4);
	border-color: rgb(254,51,96);
}
.btn:focus, .btn-secondary:focus{
	background: rgb(254,12,106);
	box-shadow: 0 0 0 0.2rem rgba(254, 12, 106, 0.4);
	border-color: rgb(254,51,96);
}
.btn:active, .btn-secondary:active{
	background: rgb(254,12,106);
	box-shadow: 0 0 0 0.2rem rgba(254, 12, 106, 0.4);
	border-color: rgb(254,51,96);
}
.dropdown-item:hover{
	color: white;
	background: rgb(254,12,106);
}
.dropdown-item:active{
	color: white;
	background: rgb(254,12,106);
}
.fas{
	color: grey;
}

