@import url("style.css");
h1{
    padding-bottom: 1%;
}
thead{
    color: rgb(254,12,106);
}
td{
    border-bottom: 2px solid rgb(254,12,106);
    border-right: 2px solid rgba(254,12,106,0.3);
}
.trTab:hover{
    background: rgb(254,12,106);
    color: white;
}
a{
    color: rgb(254,12,106);
    text-decoration: none;
}
a:hover{
    color: rgb(254,12,106);
    text-decoration: none;
}
.fa-sharp{
    color: white;
    font-size: 25px;
}
.fa-check-circle:hover{
    color: white;
}
.aTab{
    border: 2px solid rgb(254,12,106);
    background: white;
    appearance: none;
    border-radius: 5px;
    background: white;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
}
.aTab:hover{

    border: 2px solid white;
    box-shadow: 0 0 0 0.2rem rgba(225, 225, 225, 0.6);
}
td{
    border-bottom: 2px solid rgb(254,12,106);
    border-right: 2px solid rgba(254,12,106,0.3);
    padding-top: 12px;
    padding-bottom: 12px;
}
table{
    margin-top: 1%;
    width: 100%;
}
th{
    color: rgb(254,12,106);
    text-align: left;
    border-top: 2px solid rgb(254,12,106);
    border-bottom: 2px solid rgb(254,12,106);
    border-right: 2px solid rgba(254,12,106,0.3);
    padding-top: 5px;
    padding-bottom: 5px;
}
.thBut{
    text-align: center;
    width: 30%;
}
.home{
    border: 2px solid rgb(254,12,106);
    background: rgb(254,12,106);
    color: white;
    padding: 10px;
    border-radius: 5px;
    color: white;

}
.home:hover{
    color: white;
    background: rgb(254,12,106);
    box-shadow: 0 0 0 0.2rem rgba(254, 12, 106, 0.4);
    border-color: rgb(254,12,106);
}
.fa-user{
    color: grey;
}
.message{
    color: rgb(254,12,106);
    text-align: center;
    border: 2px solid rgb(254,12,106);
    border-radius: 5px;
    margin: 2%;
    margin-left: 20%;
    margin-right: 20%;
    font-size: 20px;
}
.toogle{
    text-align: center;
    color: white;
    border: 3px solid rgb(254,12,106);
    border-radius: 33px;
    background: rgb(254,12,106);
}
button{
    font-family: 'Averia Serif Libre', cursive;
    appearance: none;
    border: 0;
    border-radius: 5px;
    background: #4676D7;
    color: #fff;
    padding: 8px 16px;
    font-size: 16px;
    border: 2px solid rgb(254,12,106);
    background: white;
    margin-top: 2%;
    margin-bottom: 2%;
}
button:hover{
    border: 2px solid white;
    box-shadow: 0 0 0 0.2rem rgba(225, 225, 225, 0.6);
}

.aAddDiv{
   margin-top: 2%; 
}
.aAdd{
    
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 5px;
    background: rgb(254,12,106);
    border: 2px solid rgb(254,12,106);
    color: white;
}
.aAdd:hover{
    color: white;
    border: 2px solid rgb(254,12,106);
    box-shadow: 0 0 0 0.2rem rgba(254, 51, 96, 0.4);
}
.add{
    background: rgb(254,12,106);
    color: white;
    border: 2px solid rgb(254,12,106);
}
.add:hover{
    border: 2px solid rgb(254,12,106);
    box-shadow: 0 0 0 0.2rem rgba(254, 51, 96, 0.4);
}
.textCenter{
    text-align: center;
    border-right: none;
}
.pagination{
    justify-content: center;
    color: rgb(254,12,106);
}
.page-item.active .page-link{
    color: white;
    background: rgb(254,12,106);
    border: 1px solid rgb(254,12,106);
}
.page-link{
    color: rgb(254,12,106);
}
.page-link:hover{
    color: white;
    background: rgb(254,12,106);
}
.page-link:focus{
    box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0);
}
.page-link:not{
    color: white;
    background: rgb(254,12,106);
}
.page-link:active{
    color: white;
    background: rgb(254,12,106);
}
.inputSearch{
    color: white;
    background: rgb(254,12,106);
    border-radius: 5px;
    border: 2px solid rgb(254,12,106);
    margin-left: 1%;
    padding: 0.5%;
}
.inputSearch:hover{
    border: 2px solid rgb(254,12,106);
    box-shadow: 0 0 0 0.2rem rgba(254, 51, 96, 0.4);
}
.search{
    font-size: 20px;
    border: 2px solid grey;
    border-radius: 5px;
    color: grey;
}
.search:focus{
    color: rgb(254,51,96);
    background-color: #fff;
    border-color: rgb(254,51,96);
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(254, 51, 96, 0.4);
}
.add,.btn,.btn-secondary{
    background: rgb(254,12,106);
    border: 2px solid rgb(254,12,106);
    margin-top: none;
}
.header{
    margin-top: 1%;
}
.firstHead, .midleHead, .lastHead{
    display: inline-flex;
    flex-direction: column;
}
.firstHead{
    text-align: center;
    width: 13%;
}
.midleHead{
    width: 70%;
}
.lastHead{
    width: 15%;
    float: right;
    align-items: center;
}
.btn, .btn:hover, .btn:focus{
    color: white;
}
.btn-secondary{
    color: white;
    width: auto;
}
.dropdown-toggle{
    margin-bottom: 22px;
}
a:not([href]):not([tabindex]), a:not([href]):not([tabindex]):focus, a:not([href]):not([tabindex]):hover{
    color: white;
}
@media all and (max-width:768px){
    .aTab{
        padding: 4px;
    }
}