@import url("style.css");
.fa-house{
	color: rgb(254,12,106);
}
table{
	width: 100%;
}
thead{
	color: rgb(254,12,106);
}

.table-bordered th, .table thead th{
	vertical-align: top;
	text-align: center;
	border-top: 2px solid rgb(254,12,106);
	border-bottom: 2px solid rgb(254,12,106);
	border-right: 2px solid rgba(254,12,106,0.3);
	padding-top: 5px;
	padding-bottom: 5px;
}
