body{
	background-image: url("../img/background-transparent.png");
	background-repeat:no-repeat;
    background-attachment:fixed;
    background-position:center center;
    background-size: cover;    font-family: 'Averia Serif Libre', cursive;
    
}
H1{
    text-align: center;
    color: rgb(254,51,96);
}
.form{
    color: grey;
    font-size: 20px;
    font-family: 'Averia Serif Libre', cursive;
    border: 2px solid grey;
    border-radius: 5px;
    width: 90%;
    margin: auto;
}
.inp{
    text-align: center;
    margin-bottom: 2%;
}
.form:focus{
    color: rgb(254,51,96);
    border: 2px solid rgb(254,51,96);
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(254, 51, 96, 0.4);
}
.button{
    text-align: center;
}
.roles{
    background: white;
    border: 2px solid grey;
    border-radius: 5px;
    color: black;
    text-align: center;
    margin-top: 2%;
    padding: 1px 2px;
    width: 90%;
    margin: auto;
}
.cancellation{
    border: 2px solid rgb(254,12,106);
    background: rgb(254,12,106);
    color: white;
    padding: 11px 119px 9px 119px;
    border-radius: 5px;
}
.cancellation:hover{
    background: rgb(254,12,106);
    box-shadow: 0 0 0 0.2rem rgba(254, 12, 106, 0.4);
    border-color: rgb(254,12,106);
}
.placeholder{
    width: 90%;
    margin-left: 5%;
    color: grey;
}
button{
    font-family: 'Averia Serif Libre', cursive;
    appearance: none;
    border: 0;
    border-radius: 5px;
    padding: 8px 16px;
    font-size: 16px;
    background: white;
    margin-top: 2%;
    margin-bottom: 2%;
    background: rgb(254,12,106);
    color: white;
    border: 2px solid rgb(254,12,106);
    width: 300px;
}
button:hover{
    border: 2px solid rgb(254,12,106);
    box-shadow: 0 0 0 0.2rem rgba(254, 12, 106, 0.6);
}
.btn{
    margin-bottom: 20px;
}
a{
    color: white;
    text-decoration: none;
}

input[type=checkbox] {
         position: relative;
           cursor: pointer;
    }
    input[type=checkbox]:before {
         content: "";
         display: block;
         position: absolute;
         width: 12px;
         height: 12px;
         top: 0;
         left: 0;
         border: 2px solid rgb(254,12,106);
         border-radius: 3px;
         background-color: white;
         top: -1px;
         left: -1px;
}
input[type=checkbox]:after {
         content: "";
         display: block;
         position: absolute;
         width: 12px;
         height: 12px;
         top: 0;
         left: 0;
         border: 2px solid black;
         border-radius: 3px;
         top: -1px;
         left: -1px;
}
    input[type=checkbox]:checked:after {
         content: "";
         display: block;
         width: 5px;
         height: 10px;
         border: solid rgb(254,12,106);
         border-width: 0 2px 2px 0;
         -webkit-transform: rotate(45deg);
         -ms-transform: rotate(45deg);
         transform: rotate(45deg);
         position: absolute;
         top: -1px;
         left: 4px;
         border-radius: 0px;
         
}
