thead{
	color: rgb(254,12,106);
}
td{
	border-bottom: 2px solid rgb(254,12,106);
	border-right: 2px solid rgba(254,12,106,0.3);
	padding-top: 12px;
	padding-bottom: 12px;
}
.trTab:hover{
	background: rgb(254,12,106);
	color: white;
}
table{
	width: 98%;
	margin: auto;
}
.iCom{
	color: rgb(254,12,106);
	font-size: 30px;
}
th{
	text-align: center;
	border-top: 2px solid rgb(254,12,106);
	border-bottom: 2px solid rgb(254,12,106);
	border-right: 2px solid rgba(254,12,106,0.3);
	padding-top: 5px;
	padding-bottom: 5px;
}
.inputSearch{
	font-size: 17px;
	margin: auto;
	font-family: 'Averia Serif Libre', cursive;
	color: white;
	background: rgb(254,12,106);
	border-radius: 5px;
	border: 2px solid rgb(254,12,106);
	padding: 5px 8px;
}
.inputSearch:hover{
	border: 2px solid rgb(254,12,106);
	box-shadow: 0 0 0 0.2rem rgba(254, 51, 96, 0.4);
}
.search{
	padding: 3px;
	width: 30%;
	margin: auto;
	font-family: 'Averia Serif Libre', cursive;
	font-size: 20px;
	border: 2px solid grey;
	border-radius: 5px;
	color: grey;
}
.search:focus{
	color: rgb(254,51,96);
	background-color: #fff;
	border-color: rgb(254,51,96);
	outline: 0;
	box-shadow: 0 0 0 0.2rem rgba(254, 51, 96, 0.4);
}
.comments{
	text-align: center;
}

form{
	margin-bottom: 2%;
}
.fa-share{
	color: white;
	font-size: 17px;
}
