<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
  <meta charset="utf-8"/>
  <title>Мой аккаунт</title>
  <link href="https://fonts.googleapis.com/css2?family=Averia+Serif+Libre&display=swap" rel="stylesheet"><!-- ссылка на шрифт -->
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"> -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://kit.fontawesome.com/417822ee3c.js" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <script type="text/javascript" th:src="@{/js/common.js}"></script>
  <link media="all" rel="stylesheet" type="text/css" th:href="@{/css/style_account.css}">
</head>

<body>
<div>
  <a th:href="@{/bikes}">[На главную]</a>
</div>

<h1  th:text="${'Мой аккаунт'}"/></h1>

<!--Сообщение об успешном добавлении/изменении/удалении-->
<div class="alert" th:if="${message != null}">
  [[${message}]]
</div>

<div class="container">
  <form th:action="@{/account/save}"
        th:object="${user}" method="post" class="form-vertical">

    <input type="hidden" th:field="*{id}"/>
    <div  class="input-group inp login">
      <span>Логин - </span>
      <span th:text="*{username}"></span>
    </div>

    <div  class="input-group inp">
      <span>Пароль</span>
      <br>
      <div>
        <input class="password" type="password" th:field="*{password}" placeholder="Ничего не вводите, если не хотите изменить"
               oninput="checkPasswordMatch(document.getElementById('confirmPassword'))"/>
      </div>
    </div>

    <div  class="input-group inp">
      <span>Повторите новый пароль</span>
      <br>
      <div>
        <input class="password" type="password" id="confirmPassword" oninput="checkPasswordMatch(this)"/>
      </div>
    </div>

    <div class="input-group inp">
      <span>Имя</span>
      <br>
      <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
      <input th:field="*{firstName}" placeholder="Имя (необязательно)" class="form-control form"/>
    </div>

    <div class="input-group inp">
      <span>Фамилия</span>
      <br>
      <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
      <input th:field="*{lastName}" placeholder="Фамилия (необязательно)" class="form-control form"/>
    </div>

    <div  class="input-group inp login">
      <label class="input-group-addon"><i class="glyphicon glyphicon-user">Мои роли:</i></label>
      <br>
      <span>[[${user.roles}]]</span>
    </div>

    <div class="form-group button">
      <div>
        <button type="submit" class="btn">Сохранить</button>
        <button  type="button" class="btn"><a  th:href="@{'/bikes'}" th:text="Отмена"/></button>
      </div>
    </div>
  </form>

  <script type="text/javascript">
    function checkPasswordMatch(confirmPassword) {
      if (confirmPassword.value != $("#password").val()) {
        confirmPassword.setCustomValidity("Пароли не совпадают");
      } else {
        confirmPassword.setCustomValidity("");
      }
    }
  </script>
</div>
</body>
</html>