<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Каталог велосипедов</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container">
    <!--Таблица всех велосипедов-->
    <table class="table table-hover">
        <thead>
        <tr>
            <th>ID</th>
            <th>Номер</th>
            <th>VIN</th>
            <th>Статус</th>
            <th>Комментарий</th>
        </tr>
        </thead>
        <tbody>
        <!--Цикл foreach по всем велосипедам-->
        <tr th:each="bike : ${bikes}">
            <td th:text="${bike.id}"/>
            <td th:text="${bike.number}"/>
            <td th:text="${bike.VIN}"/>
            <td th:text="${bike.status}"/>
            <td th:text="${bike.comment}"/>
            <td>
                <a th:href="@{'/bikes/show/' + ${bike.id}}" th:text="Просмотреть"/>
            </td>
        </tr>
        </tbody>
    </table>
    <span th:text="${'Всего велосипедов ' + bikes.size()}"/>
    <br>
    <!--Форма добавления велосипеда-->
    <form th:action="@{/bikes/add}"
          th:object="${bike}" method="post" class="form-vertical">

        <div style="margin-bottom: 25px" class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input th:field="*{id}" placeholder="ID" class="form-control"/>
        </div>

        <div style="margin-bottom: 25px" class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input th:field="*{number}" placeholder="Номер (4-хзначный)" class="form-control"/>
        </div>

        <div style="margin-bottom: 25px" class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input th:field="*{VIN}" placeholder="VIN (буквы латиницей)" class="form-control"/>
        </div>

        <div style="margin-bottom: 25px" class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <select th:field="*{status}" required>
                <option value="true" selected>Работает</option>
                <option value="false">Сломан</option>
            </select>
        </div>

        <div style="margin-bottom: 25px" class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input th:field="*{comment}" placeholder="О состоянии вело" class="form-control"/>
        </div>

        <div style="margin-top: 10px" class="form-group">
            <div class="col-sm-6 controls">
                <button type="submit" class="btn btn-primary">Добавить</button>
            </div>
        </div>
    </form>
</div>

</body>
</html>