<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="utf-8"/>
    <title>Страница велоспеда</title>
    <link href="https://fonts.googleapis.com/css2?family=Averia+Serif+Libre&display=swap" rel="stylesheet"><!-- ссылка на шрифт -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/417822ee3c.js" crossorigin="anonymous"></script>
    <script type="text/javascript" th:src="@{/js/common.js}"></script>
    <link media="all" rel="stylesheet" type="text/css" th:href="@{/css/style_bikes-page.css}">
    <link media="all" rel="stylesheet" type="text/css" th:href="@{/css/style_bikes-page2.css}">
 <!-- ссылка на css всегда должна быть самой последней -->
</head>

<body>

<!--этот блок есть во всех страницах, кроме login-->
<!--это куда-нибудь в правый угол; положение - горизонтально-->
<!--надо сделать что-то типа dropdown из bootstrap: чтоб из имени юзера выпадала менюшка-->
<!-- <div class="lastHead">
    <form th:action="@{/logout}" method="post" th:hidden="true" name="logoutForm">
        <input type="submit"/>
    </form>

     <div>
        <span class="fas fa-light fa-user fa-2x"></span>
    </div>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <a data-toggle="dropdown"
                   sec:authentication="principal.username"></a>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" th:href="@{/account}">Мой аккаунт</a>
            <a class="dropdown-item" th:href="@{/users}">Пользователи</a>
            <a class="dropdown-item" id="logoutLink" th:href="@{/logout}">Выйти</a>
        </div>
    </div>
</div> -->


<div class="header">
    <button class="home"><a class="home" th:href="@{'/bikes'}" th:text="Назад"/></button>
    <br>
    <div class="velInfo">
        
        <span th:text="${'Номер: ' + bike.number}"/><br>
        <span th:text="${'QR Номер: ' + bike.qrNumber}"/><br>
        <span th:text="${'VIN: ' + bike.VIN}"/><br>
        <span th:text="${bike.status == true ? 'Работает' : 'Сломан'}"/><br>
        <span th:text="${'Описание: ' + bike.description}"/><br>
        <span th:text="${'Ссылка на ELMA: '}"/><a th:href="@{${bike.qrLink}}" th:text="${bike.qrLink}" />
        <br>
        
        <button><a th:href="@{'/bikes/edit/' + ${bike.id}}" th:text="'Изменить'"/></button>
        <button><a th:href="@{'/bikes/delete/' + ${bike.id}}" th:text="'Удалить'"/></button>
    </div>
    <div class="velPhoto">
        <!--потом добавить как bike.photo-->
        <img class="photo" th:src="@{/img/velo.png}">
    </div>
</div>
<br>

    


<div class="partsDiv">
    <div class="partsLeft">
        <span th:text="${'Переднее колесо: '} + ${part.f_wheel == true ? 'Работает' : 'Сломано'}"/>
        <span class="tooltip"><img th:src="@{/img/logo.png}">
            <span class="tooltiptext"><img class="plcImg" th:src="@{/img/logo.png}"></span>
        </span>
        <br><hr>
        <span th:text="${'Заднее колесо: '} + ${part.r_wheel == true ? 'Работает' : 'Сломано'}"/>
        <span class="tooltip"><img th:src="@{/img/logo.png}">
            <span class="tooltiptext"><img class="plcImg" th:src="@{/img/logo.png}"></span>
        </span>
        <br><hr>
        <span th:text="${'Передний тормоз: '} + ${part.f_brake == true ? 'Работает' : 'Сломано'}"/>
        <span class="tooltip"><img th:src="@{/img/logo.png}">
            <span class="tooltiptext"><img class="plcImg" th:src="@{/img/logo.png}"></span>
        </span>
        <br><hr>
        <span th:text="${'Задний тормоз: '} + ${part.r_brake == true ? 'Работает' : 'Сломано'}"/>
        <span class="tooltip"><img th:src="@{/img/logo.png}">
            <span class="tooltiptext"><img class="plcImg" th:src="@{/img/logo.png}"></span>
        </span>
        <br><hr>
        <span th:text="${'Передняя покрышка/камера: '} + ${part.f_tyre == true ? 'Работает' : 'Сломано'}"/>
        <span class="tooltip"><img th:src="@{/img/logo.png}">
            <span class="tooltiptext"><img class="plcImg" th:src="@{/img/logo.png}"></span>
        </span>
        <br><hr>
        <span th:text="${'Задняя покрышка/камера: '} + ${part.r_tyre == true ? 'Работает' : 'Сломано'}"/>
        <span class="tooltip"><img th:src="@{/img/logo.png}">
            <span class="tooltiptext"><img class="plcImg" th:src="@{/img/logo.png}"></span>
        </span>
        <br><hr>
        <span th:text="${'Цепь: '} + ${part.chain == true ? 'Работает' : 'Сломано'}"/>
        <span class="tooltip"><img th:src="@{/img/logo.png}">
            <span class="tooltiptext"><img class="plcImg" th:src="@{/img/logo.png}"></span>
        </span>
        <br><hr>
        <span th:text="${'Седло/Подседельный штырь: '} + ${part.saddle == true ? 'Работает' : 'Сломано'}"/>
        <span class="tooltip"><img th:src="@{/img/logo.png}">
            <span class="tooltiptext"><img class="plcImg" th:src="@{/img/logo.png}"></span>
        </span> 
    </div>
 
    <div class="partsRight">
        <span th:text="${'Шатуны: '} + ${part.crank == true ? 'Работает' : 'Сломано'}"/>
        <span class="tooltip"><img th:src="@{/img/logo.png}">
            <span class="tooltiptext"><img class="plcImg" th:src="@{/img/logo.png}"></span>
        </span>
        <br><hr>
        <span th:text="${'Левая педаль: '} + ${part.l_pedal == true ? 'Работает' : 'Сломано'}"/>
        <span class="tooltip"><img th:src="@{/img/logo.png}">
            <span class="tooltiptext"><img class="plcImg" th:src="@{/img/logo.png}"></span>
        </span>
        <br><hr>
        <span th:text="${'Правая педаль: '} + ${part.r_pedal == true ? 'Работает' : 'Сломано'}"/>
        <span class="tooltip"><img th:src="@{/img/logo.png}">
            <span class="tooltiptext"><img class="plcImg" th:src="@{/img/logo.png}"></span>
        </span>
        <br><hr>
        <span th:text="${'Передние звёзды: '} + ${part.chain_wheel == true ? 'Работает' : 'Сломано'}"/>
        <span class="tooltip"><img th:src="@{/img/logo.png}">
            <span class="tooltiptext"><img class="plcImg" th:src="@{/img/logo.png}"></span>
        </span>
        <br><hr>
        <span th:text="${'Переключатель передач: '} + ${part.gears == true ? 'Работает' : 'Сломано'}"/>
        <span class="tooltip"><img th:src="@{/img/logo.png}">
            <span class="tooltiptext"><img class="plcImg" th:src="@{/img/logo.png}"></span>
        </span>
        <br><hr>
        <span th:text="${'Кассета/Трещотка: '} + ${part.cassete == true ? 'Работает' : 'Сломано'}"/>
        <span class="tooltip"><img th:src="@{/img/logo.png}">
            <span class="tooltiptext"><img class="plcImg" th:src="@{/img/logo.png}"></span>
        </span>
        <br><hr>
        <span th:text="${'Каретка: '} + ${part.bot_bracket == true ? 'Работает' : 'Сломано'}"/>
        <span class="tooltip"><img th:src="@{/img/logo.png}">
            <span class="tooltiptext"><img class="plcImg" th:src="@{/img/logo.png}"></span>
        </span>
        <br><hr>
        <span th:text="${'Руль/Вынос/Грипсы: '} + ${part.steering_wheel == true ? 'Работает' : 'Сломано'}"/>
        <span class="tooltip"><img th:src="@{/img/logo.png}">
            <span class="tooltiptext"><img class="plcImg" th:src="@{/img/logo.png}"></span>
        </span>
    </div>
    <button><a th:href="@{'/parts/fine/' + ${part.bikeId}}" th:text="'Все части работают'"/></button>
    <button><a th:href="@{'/parts/edit/' + ${part.bikeId}}" th:text="'Изменить'"/></button>
</div> 
<br>   
<!--Комментарии-->
<div class="comments">
    <form th:action="@{'/comment/save/' + ${bike.id}}"
          th:object="${comment}" method="post" >
        <input type="text" placeholder="Написать сообщение..." th:field="*{commentText}" required class="search" />
        <button type="submit" class="inputSearch"><i class="fa-solid fa-share"></i></i></button>
    </form>
    <table id="table">
        <tbody>
            <thead>
                <th><i class="fa-solid fa-user"></i></th>
                <th><i class="fa-solid fa-message"></i></th>
                <th><i class="fa-solid fa-calendar"></i></th>
            </thead>
        <!--Цикл foreach по всем комментариям-->
        <tr class="trTab" th:each="comment : ${comments}">
            <td class="firstTd" th:text="${comment.getUser().getUsername()}"/>
            <td th:text="${comment.commentText}"/>
            <td  th:text="${#temporals.format(comment.commentedAt, 'HH:mm dd.MM.yy ')}"/>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>