<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Каталог велосипедов</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>
<div class="container">

    <span th:text="${'Всего: ' + bikes.size()}"/>
    <br>
    <span th:text="${'Сломано: ' + broken_bikes.size()}"/>
    <br>
    <!--Таблица всех велосипедов-->
    <table class="table table-hover">
        <thead>
        <tr>
            <th>ID</th>
            <th>Номер</th>
            <th>VIN</th>
            <th>Статус</th>
            <th>Комментарий</th>
        </tr>
        </thead>
        <tbody>
        <!--Цикл foreach по всем велосипедам-->
        <tr th:each="bike : ${bikes}">
            <td th:text="${bike.id}"/>
            <td th:text="${bike.number}"/>
            <td th:text="${bike.VIN}"/>
            <td th:text="${bike.status == true ? 'Работает' : 'Сломан'}"/>
            <td th:text="${bike.comment}"/>
            <td>
                <a th:href="@{'/bikes/show/' + ${bike.id}}" th:text="Просмотреть"/>
                <a th:href="@{'/bikes/edit/' + ${bike.id}}" th:text="Изменить"/>
                <a th:href="@{'/bikes/delete/' + ${bike.id}}" th:text="Удалить"/>
            </td>
        </tr>
        </tbody>
    </table>
    <br>
    <a th:href="@{'/bikes/add/'}" th:text="Добавить"/>
</div>

</body>
</html>