<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="utf-8"/>
    <title>Страница велоспеда</title>
    <link rel="icon" href="img/fav-icon.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Averia+Serif+Libre&display=swap" rel="stylesheet"><!-- ссылка на шрифт -->
<!--
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.3/dist/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<!--
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"></script>
-->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/417822ee3c.js" crossorigin="anonymous"></script>
    <script type="text/javascript" th:src="@{/js/common.js}"></script>
    <link media="all" rel="stylesheet" type="text/css" th:href="@{/css/style_bikes-page.css}">
 <!-- ссылка на css всегда должна быть самой последней -->
</head>

<body>
<div class="header">
    <a class="home" th:href="@{'/bikes/page/' + ${currentPage} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}" th:text="Назад"/>
    <br>
    <div class="velInfo">
        <span th:text="${'Номер: ' + bike.number}"/><br>
        <span th:text="${'QR Номер: ' + bike.qrNumber}"/><br>
        <span th:text="${'VIN: ' + bike.VIN}"/><br>
        <span th:text="${bike.status == true ? 'Работает' : 'Сломан'}"/><br>
        <span th:text="${'Описание: ' + bike.description}"/><br>
        <span class="lastVelInfo" th:text="${'Ссылка на ELMA: '}"/><a th:href="@{${bike.qrLink}}" target="_blank" th:text="${'>тык<'}" /><br>
        <div class="divAdminButton">
            <div class="divAdminButtonOne">
                <a sec:authorize="hasAnyRole('MANAGER', 'ADMIN')"
                   th:href="@{'/bikes/management/edit/' + ${bike.id}}" th:text="'Изменить'"
                   class="adminButton" />
            </div>
            <div class="divAdminButtonOne">
                <a sec:authorize="hasAnyRole('MANAGER', 'ADMIN')"
                   th:href="@{'/bikes/management/delete/' + ${bike.id}}" th:text="'Удалить'"
                   class="adminButton link-delete"/>
            </div>
        </div>
    </div>
    <div class="velPhoto">
        <img th:if="${bike.photo == null || bike.photo == ''}" class="photo" th:src="@{/img/default-bike.png}">
        <img th:if="${bike.photo != null && bike.photo != ''}" class="photo" th:src="@{${bike.photoImagePath}}">
    </div>
</div>
<div class="broken">
    <div th:replace="fragments :: partsList(${brokenPartsLeft}, 'partsLeft', 'broken')"/>
    <div th:replace="fragments :: partsList(${brokenPartsRight}, 'partsRight', 'broken')"/><div class="emptiDiv">Ебать какой же тут костыль)</div>
</div>
<!-- кнопка для скрытия и открытия partsDiv -->
<div class="toggleParts">
    <button id="toggleParts">Список всех деталей</button>
</div>
<br>
<div class="partsDiv">
    <div th:replace="fragments :: partsList(${workingPartsLeft}, 'partsLeft', 'working')"/>
    <div th:replace="fragments :: partsList(${workingPartsRight}, 'partsRight', 'working')"/>
    <div class="emptiDiv">Ебать какой же тут костыль)</div> <!-- этот костыль я добавил чтобы блядсие <a> отображались нориально, потом изменю, но я хз с чем связано то, что ссылки тянет постоянно вверх -->
</div>
<br>
<div class="textCenter">
    <a sec:authorize="hasAnyRole('MANAGER', 'ADMIN')" th:href="@{'/parts/edit/' + ${bike.id} + '?currentPage=' + ${currentPage} + '&sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + '&commentSortField=commentedAt&commentSortDir=asc' + ${keyword != null ? '&keyword=' + keyword : ''}}" th:text="'Редактирование'" class="adminButton"/>
</div>
<div class="divAdminButton textCenter">
    <a sec:authorize="hasAnyRole('MANAGER', 'ADMIN')" th:href="@{'/parts/fine/' + ${bike.id} + '?currentPage=' + ${currentPage} + '&sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + '&commentSortField=commentedAt&commentSortDir=asc' + ${keyword != null ? '&keyword=' + keyword : ''}}" th:text="'Важные части работают'" class="adminButton"/>
    <a sec:authorize="hasAnyRole('MANAGER', 'ADMIN')" th:href="@{'/parts/fineAll/' + ${bike.id} + '?currentPage=' + ${currentPage} + '&sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + '&commentSortField=commentedAt&commentSortDir=asc' + ${keyword != null ? '&keyword=' + keyword : ''}}" th:text="'Все части работают'" class="adminButton adminButton2"/>
</div>
<br>
<!--Комментарии-->
<div class="input-comments">
    <h3>Комментарии ([[${comments.size}]])</h3>
    <span sec:authorize="isAnonymous()"><b>Чтобы оставлять и просматривать комментарии, войдите в свой аакаунт.</b></span><br>
    <form sec:authorize="isAuthenticated()" th:action="@{'/comment/save/' + ${bike.id}}" method="post" >
        <input type="hidden" th:name="currentPage" th:value="${currentPage}"/>
        <input type="hidden" th:name="sortField" th:value="${sortField}"/>
        <input type="hidden" th:name="sortDir" th:value="${sortDir}"/>
        <input type="hidden" th:name="commentSortField" th:value="${commentSortField}"/>
        <input type="hidden" th:name="commentSortDir" th:value="${commentSortDir}"/>
        <input type="hidden" th:name="keyword" th:value="${keyword}"/>
        <input type="text" placeholder="Написать сообщение..." th:name="text" required class="search" />
        <button class="inputSearch" type="submit">Отправить</button>
    </form>
    <div th:if="${comments != null && #lists.size(comments) > 0}" sec:authorize="isAuthenticated()"  class="upDown">
        <a class="" th:if="${commentSortDir == 'asc'}"
           th:href="@{'/bikes/show/' + ${bike.id} + '?currentPage=' + ${currentPage} + '&sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + '&commentSortField=commentedAt&commentSortDir=' + ${commentReverseSortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">
            Сначала старые
        </a>
        <a th:if="${commentSortDir == 'desc'}"
           th:href="@{'/bikes/show/' + ${bike.id} + '?currentPage=' + ${currentPage} + '&sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + '&commentSortField=commentedAt&commentSortDir=' + ${commentReverseSortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">
            Сначала новые
        </a>
        <span th:class="${commentSortDir == 'asc' ? 'fas fa-sort-up' : 'fas fa-sort-down'}"/>
    </div>
    <div sec:authorize="isAuthenticated()"  th:each="comment : ${comments}"  class="comments">
        <div>
            <i class="fa-solid fa-user"></i>
            <span class="underline" 
                   th:text = " ' ' + ${comment.getUser().getUsername()}">
            </span>
            <span th:if="${comment.getUser().getFirstName() != null}"
                   th:text = " ' ' + ${comment.getUser().getFirstName()}">
            </span>
            <span th:if="${comment.getUser().getLastName() != null}"
                   th:text = " ' ' + ${comment.getUser().getLastName()}">
            </span>
            <span class="data"
              th:text = "${#temporals.format(comment.commentedAt, 'HH:mm dd.MM.yy ')}">
            </span>
        </div>
        <a class="delete" sec:authorize="hasAnyRole('ADMIN')"
           th:href="@{'/comment/delete/' + ${comment.id} + '?currentPage=' + ${currentPage} + '&sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + '&commentSortField=commentedAt&commentSortDir=' + ${commentReverseSortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">
            <i class="fa-solid fa-delete-left"></i>
        </a>
        <span class="comment-text"
              th:text = "${comment.commentText}">
        </span>
        
          
    </div>

    <!--<div class="modal fade text-center" id="confirmModal">
        <div class="modalDialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Внимание</h4>
                    <a type="button" class="close" href="">&times;</a>
                </div>
                <div class="modal-body">
                    <span>Вы точно хотите удалить этот велосипед из базы?</span>
                </div>
                <div class="modal-footer">
                    <a type="button" class="btn btn-success" href="" id="yesButton">Да</a>
                    <a type="button" class="btn btn-danger" href="">Нет</a>
                </div>
            </div>
        </div>
    </div>-->
</div>
<!--<script type="text/javascript">
    $(document).ready(function() {
        $(".link-delete").on("click", function(e) {
            e.preventDefault();
            link = $(this);
            $("#yesButton").attr("href", link.attr("href"));
            $("#confirmModal").modal();

        });
    });
</script>-->
<script>
    $("#toggleParts").on('click', function(){
        $(".partsDiv").last().fadeToggle( "fast", function(){});
    });
</script>
<!--<script type="text/javascript">
    $(document).ready(function(){
$('span[data-toggle="tooltip"]').tooltip({
animated: 'fade',
placement: 'left',
html: true
});
});
</script>-->
</body>
</html>
