<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Редактор велосипедов</title>
    <link href="https://fonts.googleapis.com/css2?family=Averia+Serif+Libre&display=swap" rel="stylesheet"><!-- ссылка на шрифт -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <link media="all" rel="stylesheet" type="text/css" th:href="@{/css/style_bikes-edit.css}"><!-- ссылка на css всегда должна быть самой последней -->
</head>
<body>
    <!--Если на страничку прилетает id, то редактирование, иначе добавление-->

    <div class="homeBut">
        <button class="home"><a class="home" th:href="@{'/bikes'}" th:text="'На главную'"/></button>
    </div>

    <h1  th:text="${bike.id == null ? 'Добавление велосипеда' : 'Изменение велосипеда ' + bike.number + ' / ' + bike.qrNumber}"/></h1>

    <div class="container">
        <!--Форма редактирования велосипеда-->
        <form th:action="@{/bikes/edit}"
              th:object="${bike}" method="post" class="form-vertical">

            <div  class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input th:field="*{id}" class="form-control" hidden/>
            </div>

            <div  class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input th:field="*{part}" class="form-control" hidden/>
            </div>

            <div  class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input th:field="*{number}" placeholder="Номер" class="form-control" required/>
            </div>

            <div  class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input th:field="*{qrNumber}" placeholder="QR Номер 4-хзначный" class="form-control" required/>
            </div>

            <div  class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input th:field="*{VIN}" placeholder="VIN (буквы латиницей)" class="form-control" required/>
            </div>

            <div class="input-group select">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <select th:field="*{status}" required>
                    <option selected value="true">Работает</option>
                    <option value="false">Сломан</option>
                </select>
            </div>

            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input th:field="*{comment}" placeholder="О состоянии вело" class="form-control"/>
            </div>

            <div  class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input th:field="*{qrLink}"
                       placeholder="Ссылка на страницу в ELMA (ссылка по QR)"
                       class="form-control"/>
            </div>

            <div  class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input th:field="*{photo}" class="form-control" hidden/>
            </div>

            <div class="form-group button">
                <div>
                    <button type="submit" class="btn">Сохранить</button>
                </div>
            </div>
        </form>
    </div>
</body>
</html>