<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Каталог велосипедов</title>
    <link href="https://fonts.googleapis.com/css2?family=Averia+Serif+Libre&display=swap" rel="stylesheet"><!-- ссылка на шрифт -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/417822ee3c.js" crossorigin="anonymous"></script>
    <link media="all" rel="stylesheet" type="text/css" th:href="@{/css/style_bikes.css}"> <!-- ссылка на css всегда должна быть самой последней -->
</head>

<body>
<div class="content">

    <H1>Каталог велосипедов</H1>

    <!--Сообщение об успешном добавлении/изменении/удалении-->
    <div class="alert" th:if="${message != null}">
        [[${message}]]
    </div>

    <div>
        <form th:action="@{/bikes/page/1}" class="form-inline">
            <input type="hidden" name="sortField" th:value="${sortField}">
            <input type="hidden" name="sortDir" th:value="${sortDir}">
            <input type="search" name="keyword" th:value="${keyword}" class="form-control search" required>
            <input class="inputSearch" type="submit" value="Поиск"/>
            <input class="inputSearch" type="button" value="Очистить" onclick="clearFilter()"/>
        </form>
    </div>


    <!--добавить к заголовкам таблицы классы в спаны
    при выбранной сортировке у имени поля должна появляться стрелочка
    классы назвал произвольно, чтоб понятно было что куда-->
    <br>
    <!--Таблица всех велосипедов-->
    <table>
        <thead>
        <tr>
            <th>
                <a th:if="${sortField != 'number'}"
                   th:href="@{'/bikes/page/' + ${currentPage} + '?sortField=number&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">
                    Номер
                </a>
                <a th:if="${sortField == 'number'}"
                   th:href="@{'/bikes/page/' + ${currentPage} + '?sortField=number&sortDir=' + ${reverseSortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">
                    Номер
                </a>
                <span th:if="${sortField == 'number'}"
                      th:class="${sortDir == 'asc' ? 'fas fa-sort-up' : 'fas fa-sort-down'}"/>
            </th>
            <th>
                <a th:if="${sortField != 'qrNumber'}"
                   th:href="@{'/bikes/page/' + ${currentPage} + '?sortField=qrNumber&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">
                    QR номер
                </a>
                <a th:if="${sortField == 'qrNumber'}"
                   th:href="@{'/bikes/page/' + ${currentPage} + '?sortField=qrNumber&sortDir=' + ${reverseSortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">
                    QR номер
                </a>
                <span th:if="${sortField == 'qrNumber'}"
                      th:class="${sortDir == 'asc' ? 'fas fa-sort-up' : 'fas fa-sort-down'}"/>
            </th>
            <th>
                <a th:if="${sortField != 'VIN'}"
                   th:href="@{'/bikes/page/' + ${currentPage} + '?sortField=VIN&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">
                    VIN
                </a>
                <a th:if="${sortField == 'VIN'}"
                   th:href="@{'/bikes/page/' + ${currentPage} + '?sortField=VIN&sortDir=' + ${reverseSortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">
                    VIN
                </a>
                <span th:if="${sortField == 'VIN'}"
                      th:class="${sortDir == 'asc' ? 'fas fa-sort-up' : 'fas fa-sort-down'}"/>
            </th>
            <th>
                <a th:if="${sortField != 'status'}"
                   th:href="@{'/bikes/page/' + ${currentPage} + '?sortField=status&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">
                    Статус
                </a>
                <a th:if="${sortField == 'status'}"
                   th:href="@{'/bikes/page/' + ${currentPage} + '?sortField=status&sortDir=' + ${reverseSortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">
                    Статус
                </a>
                <span th:if="${sortField == 'status'}"
                      th:class="${sortDir == 'asc' ? 'fas fa-sort-up' : 'fas fa-sort-down'}"/>
            </th>
            <th>Комментарий</th>
            <th class="textCenter">Кликай куда надо</th>
        </tr>
        </thead>
        <tbody>
        <!--Цикл foreach по всем велосипедам-->
        <tr class="trTab" th:each="bike : ${bikes}">
            <td th:text="${bike.number}"/>
            <td th:text="${bike.qrNumber}"/>
            <td th:text="${bike.VIN}"/>
            <td th:text="${bike.status == true ? 'Работает' : 'Сломан'}"/>
            <td th:text="${bike.comment}"/>
            <td class="textCenter">
                <button type="submit" class=""><a th:href="@{'/bikes/show/' + ${bike.id}}"><i class="fa-solid fa-gears"></i></a></button>
                <button type="submit" class=""><a  th:href="@{'/bikes/edit/' + ${bike.id}}"><i class="fa-solid fa-pen"></i></a></button>
                <button  type="submit" class=""><a  th:href="@{'/bikes/delete/' + ${bike.id}}"><i class="fa-solid fa-delete-left"></i></a></button>
            </td>
        </tr>
        </tbody>
    </table>
    <br>
    
        <nav>
            <ul class="pagination">
                <li th:class="${currentPage > 1 ? 'page-item': 'page-item disabled'}">
                    <a class="page-link" th:href="@{'/bikes/page/1?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">В начало</a>
                </li>
                <li th:class="${currentPage > 1 ? 'page-item': 'page-item disabled'}" >
                    <a class="page-link" th:href="@{'/bikes/page/' + ${currentPage - 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">☚ Туда</a>
                </li>
                <li th:class="${currentPage != i ? 'page-item' : 'page-item active'}"
                    th:each="i: ${#numbers.sequence(1, totalPages)}">
                    <a class="page-link" th:href="@{'/bikes/page/' + ${i} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">[[${i}]]</a>
                </li>
                <li th:class="${currentPage < totalPages ? 'page-item': 'page-item disabled'}">
                    <a class="page-link" th:href="@{'/bikes/page/' + ${currentPage + 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">Сюда ☛</a>
                </li>
                <li th:class="${currentPage < totalPages ? 'page-item': 'page-item disabled'}">
                    <a class="page-link" th:href="@{'/bikes/page/' + ${totalPages} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">В конец</a>
                </li>
            </ul>
        </nav>
    
    <br>
    <div class="divBtn">
        <button type="submit" class="btn add"><a th:href="@{'/bikes/add/'}" th:text="Добавить" class="aAdd" /></button>
    </div>
    <br>
    <span th:text="${'Всего: ' + count_all_bikes}"/><br>
    <span th:text="${'Cломано: ' + count_broken_bikes}"/><br>
    <span th:text="${'Работают: ' + count_working_bikes}"/><br>

    <div th:if="${totalItems > 0}">
        <span>
            Велосипеды с [[${startCount}]] по [[${endCount}]] из [[${totalItems}]].
        </span>
    </div>
    <div th:unless="${totalItems > 0}">
        <span>
            Велосипеды не найдены.
        </span>
    </div>

    

   


    
</div>

 <script>
        function clearFilter(){
        window.location = "[[@{/bikes}]]"
    }
</script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>