<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Редактор велосипедов</title>
    <link href="https://fonts.googleapis.com/css2?family=Averia+Serif+Libre&display=swap" rel="stylesheet"><!-- ссылка на шрифт -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/417822ee3c.js" crossorigin="anonymous"></script>
    <script type="text/javascript" th:src="@{/js/common.js}"></script>
    <link media="all" rel="stylesheet" type="text/css" th:href="@{/css/style_bikes-edit.css}"><!-- ссылка на css всегда должна быть самой последней -->
</head>
<body>
<div class="header">
        <div class="midleHead">
            <h1  th:text="${bike.id == null ? 'Добавление велосипеда' : 'Изменение велосипеда ' + bike.number + ' | ' + bike.qrNumber}"/></h1>
        </div>
        <div class="lastHead">
        <form th:action="@{/logout}" method="post" th:hidden="true" name="logoutForm">
            <input type="submit"/>
        </form>

        <div class="dropdown">
            <span class="fas fa-light fa-user fa-2x"></span>
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <a data-toggle="dropdown"
                   sec:authentication="principal.username"></a>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" th:href="@{/account}">Мой аккаунт</a>
                <a sec:authorize="hasAuthority('ADMIN')" class="dropdown-item" th:href="@{/users}">Пользователи</a>
                <a class="dropdown-item" id="logoutLink" th:href="@{/logout}">Выйти</a>
            </div>
        </div>
    </div>
</div>
    <div class="container">
        <!--Форма редактирования велосипеда-->
        <form th:action="@{/bikes/management/edit}"
              th:object="${bike}" method="post" class="form-vertical" onsubmit="return checkInfo(this)">

            <input type="hidden" th:field="*{id}" class="form-control" hidden/>
            <input type="hidden" th:field="*{part}" class="form-control" hidden/>

            <div  class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input th:field="*{number}" placeholder="Номер" class="form-control" required minlength="1" maxlength="3"/>
            </div>

            <div  class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input th:field="*{qrNumber}" placeholder="QR Номер 4-хзначный" class="form-control" required minlength="4" maxlength="7"/>
            </div>

            <div  class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input th:field="*{VIN}" placeholder="VIN (буквы латиницей)" class="form-control" required minlength="7" maxlength="20"/>
            </div>

            <div class="input-group select">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <select th:field="*{status}" required>
                    <option selected value="true">Работает</option>
                    <option value="false">Сломан</option>
                </select>
            </div>

            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input th:field="*{description}" placeholder="Описание вело" class="form-control"/>
            </div>

            <div  class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input th:field="*{qrLink}"
                       placeholder="Ссылка на страницу в ELMA (ссылка по QR)"
                       class="form-control"/>
            </div>

            <div  class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <input th:field="*{photo}" class="form-control" hidden/>
            </div>

            <div class="form-group button">
                <div>
                    <button type="submit" class="btn">Сохранить</button>
                    <button  type="button" class="btn"><a  th:href="@{'/bikes'}" th:text="Отмена" class="home"/></button>
                </div>
            </div>
        </form>
    </div>

    <!--Проверка уникальности номера, qr-номера и VIN-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script type="text/javascript">
        function checkInfo(form){
        url = "[[@{/bikes/management/check_info}]]";
        number = $("#number").val();
        qrNumber = $("#qrNumber").val();
        VIN = $("#VIN").val();
        bikeId = $("#id").val();
        csrfValue = $("input[name='_csrf']").val();
        params = {id: bikeId, number: number, qrNumber: qrNumber, VIN: VIN, _csrf: csrfValue};
        $.post(url, params, function(response){
            if(response == "111"){
                form.submit();
            } else if(response == "001"){
                alert("Есть другой велосипед с номером: " + number + " и QR номером: " + qrNumber);
            } else if(response == "010"){
                alert("Есть другой велосипед с номером: " + number + " и VIN: " + VIN);
            } else if(response == "011"){
                alert("Есть другой велосипед с номером: " + number);
            } else if(response == "100"){
                alert("Есть другой велосипед с QR номером: " + qrNumber + " и VIN: " + VIN);
            } else if(response == "101"){
                alert("Есть другой велосипед с QR номером: " + qrNumber);
            } else if(response == "110"){
                alert("Есть другой велосипед с VIN: " + VIN);
            } else if(response == "000"){
                alert("Есть другой велосипед с номером: " + number + ", QR номером: " + qrNumber+ " и VIN: " + VIN);
            } else {
                alert("Произошло что-то непонятное...");
            }
        }).fail(function(){
            alert("Невозможно подключиться к серверу.");
        });

        return false;
    }
    </script>
</body>
</html>
