<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Страница велоспеда</title>
    <link href="https://fonts.googleapis.com/css2?family=Averia+Serif+Libre&display=swap" rel="stylesheet"><!-- ссылка на шрифт -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <link media="all" rel="stylesheet" type="text/css" th:href="@{/css/style_bikes-page.css}"><!-- ссылка на css всегда должна быть самой последней -->
</head>

<body>
<div class="homeBut">
    <button class="home"><a class="home" th:href="@{'/bikes'}" th:text="'На главную'"/></button>
</div>
<div class="header">
    <div class="velInfo">
        <span th:text="${'ID: ' + bike.id}"/><br>
        <span th:text="${'Номер: ' + bike.number}"/><br>
        <span th:text="${'VIN: ' + bike.VIN}"/><br>
        <span th:text="${bike.status == true ? 'Работает' : 'Сломан'}"/><br>
        <span th:text="${'Комментарий: ' + bike.comment}"/>
        <br>
        <button><a th:href="@{'/bikes/edit/' + ${bike.id}}" th:text="'Изменить'"/></button>
    </div>
    <div class="velFoto">
        <img class="foto" src="../../css/img/velo.png">
    </div>
</div>

<!--Добавить сюда ссылки "изменить" и удалить как в bikes-->

<br>
<div class="partsDiv">
    <div class="partsLeft">
        <span th:text="${'Переднее колесо: '} + ${part.f_wheel == true ? 'Работает' : 'Сломано'}"/>
        <span class="tooltip"><img src="../../css/img/logo.png">
            <span class="tooltiptext"><img class="plcImg" src="../../css/img/logo.png"></span>
        </span>
        <br><hr>
        <span th:text="${'Заднее колесо: '} + ${part.r_wheel == true ? 'Работает' : 'Сломано'}"/>
        <span class="tooltip"><img src="../../css/img/logo.png">
            <span class="tooltiptext"><img class="plcImg" src="../../css/img/logo.png"></span>
        </span>
        <br><hr>
        <span th:text="${'Передний тормоз: '} + ${part.f_brake == true ? 'Работает' : 'Сломано'}"/>
        <span class="tooltip"><img src="../../css/img/logo.png">
            <span class="tooltiptext"><img class="plcImg" src="../../css/img/logo.png"></span>
        </span>
        <br><hr>
        <span th:text="${'Задний тормоз: '} + ${part.r_brake == true ? 'Работает' : 'Сломано'}"/>
        <span class="tooltip"><img src="../../css/img/logo.png">
            <span class="tooltiptext"><img class="plcImg" src="../../css/img/logo.png"></span>
        </span>
        <br><hr>
        <span th:text="${'Передняя покрышка/камера: '} + ${part.f_tyre == true ? 'Работает' : 'Сломано'}"/>
        <span class="tooltip"><img src="../../css/img/logo.png">
            <span class="tooltiptext"><img class="plcImg" src="../../css/img/logo.png"></span>
        </span>
        <br><hr>
        <span th:text="${'Задняя покрышка/камера: '} + ${part.r_tyre == true ? 'Работает' : 'Сломано'}"/>
        <span class="tooltip"><img src="../../css/img/logo.png">
            <span class="tooltiptext"><img class="plcImg" src="../../css/img/logo.png"></span>
        </span>
        <br><hr>
        <span th:text="${'Цепь: '} + ${part.chain == true ? 'Работает' : 'Сломано'}"/>
        <span class="tooltip"><img src="../../css/img/logo.png">
            <span class="tooltiptext"><img class="plcImg" src="../../css/img/logo.png"></span>
        </span>
        <br><hr>
        <span th:text="${'Седло/Подседельный штырь: '} + ${part.saddle == true ? 'Работает' : 'Сломано'}"/>
        <span class="tooltip"><img src="../../css/img/logo.png">
            <span class="tooltiptext"><img class="plcImg" src="../../css/img/logo.png"></span>
        </span> 
    </div>
 
    <div class="partsRight">
        <span th:text="${'Шатуны: '} + ${part.crank == true ? 'Работает' : 'Сломано'}"/>
        <span class="tooltip"><img src="../../css/img/logo.png">
            <span class="tooltiptext"><img class="plcImg" src="../../css/img/logo.png"></span>
        </span>
        <br><hr>
        <span th:text="${'Левая педаль: '} + ${part.l_pedal == true ? 'Работает' : 'Сломано'}"/>
        <span class="tooltip"><img src="../../css/img/logo.png">
            <span class="tooltiptext"><img class="plcImg" src="../../css/img/logo.png"></span>
        </span>
        <br><hr>
        <span th:text="${'Правая педаль: '} + ${part.r_pedal == true ? 'Работает' : 'Сломано'}"/>
        <span class="tooltip"><img src="../../css/img/logo.png">
            <span class="tooltiptext"><img class="plcImg" src="../../css/img/logo.png"></span>
        </span>
        <br><hr>
        <span th:text="${'Передние звёзды: '} + ${part.chain_wheel == true ? 'Работает' : 'Сломано'}"/>
        <span class="tooltip"><img src="../../css/img/logo.png">
            <span class="tooltiptext"><img class="plcImg" src="../../css/img/logo.png"></span>
        </span>
        <br><hr>
        <span th:text="${'Переключатель передач: '} + ${part.gears == true ? 'Работает' : 'Сломано'}"/>
        <span class="tooltip"><img src="../../css/img/logo.png">
            <span class="tooltiptext"><img class="plcImg" src="../../css/img/logo.png"></span>
        </span>
        <br><hr>
        <span th:text="${'Кассета/Трещотка: '} + ${part.cassete == true ? 'Работает' : 'Сломано'}"/>
        <span class="tooltip"><img src="../../css/img/logo.png">
            <span class="tooltiptext"><img class="plcImg" src="../../css/img/logo.png"></span>
        </span>
        <br><hr>
        <span th:text="${'Каретка: '} + ${part.bot_bracket == true ? 'Работает' : 'Сломано'}"/>
        <span class="tooltip"><img src="../../css/img/logo.png">
            <span class="tooltiptext"><img class="plcImg" src="../../css/img/logo.png"></span>
        </span>
        <br><hr>
        <span th:text="${'Руль/Вынос/Грипсы: '} + ${part.steering_wheel == true ? 'Работает' : 'Сломано'}"/>
        <span class="tooltip"><img src="../../css/img/logo.png">
            <span class="tooltiptext"><img class="plcImg" src="../../css/img/logo.png"></span>
        </span>
    </div>
</div> 
<br>   
<!--Добавить кнопку/ссылку "Изменить", которая откроет новую страницу с формой и селектами по запчастям-->
<div class="divBut">

    <button><a th:href="@{'/parts/fine/' + ${part.id_bike}}" th:text="'Все части работают'"/></button>
    <button><a th:href="@{'/parts/edit/' + ${part.id_bike}}" th:text="'Изменить'"/></button>
</div>
<!--'bikes/show' + ${bike.id}-->
</body>
</html>