<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Вход</title>
    <link rel="icon" href="img/fav-icon.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Averia+Serif+Libre&display=swap" rel="stylesheet"><!-- ссылка на шрифт -->
    <!--  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <link media="all" rel="stylesheet" type="text/css" th:href="@{/css/style_login.css}"><!-- ссылка на css всегда должна быть самой последней -->
</head>
<body>
<h1  th:text="Вход"/></h1>
<div th:if="${message != null}">
    [[${message}]]
</div>
<div class="container">
    <form th:action="@{/login}" method="post">
        <div th:if="${param.error}">
            <th:block th:switch="${session.SPRING_SECURITY_LAST_EXCEPTION.message}">
                <p th:case="'Bad credentials'">Неправильный логин или пароль</p>
                <p th:case="'User is disabled'">Ваш аккаунт заблокирован. Обратитесь к администратору.</p>
                <p th:case="*">[[${session.SPRING_SECURITY_LAST_EXCEPTION.message}]]</p>
            </th:block>
        </div>
        <div th:if="${param.logout}">
            <p>Вы вышли из учётной записи.</p>
        </div>
        <div>
            <p>
                <input type="text" id="username" name="username" placeholder="Логин" class="form-control" autofocus="autofocus" required />
            </p>
            <p>
                <input type="password" id="password" name="password" placeholder="Пароль" class="form-control" required/>
            </p>
            <div class="textCenter">
                <!--<p>
                    Запомнить меня <input class="checkbox" type="checkbox" name="remember-me"/>&nbsp;
                </p>-->
                <p>
                    <input type="submit" value="Войти" class="button" />
                </p>
            </div>
        </div>
    </form>
    <a class="reg" th:href="@{'/registration'}" th:text="Регистрация"/>
</div>
</body>
</html>
