<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
  <meta charset="UTF-8">
  <title>Редактор запчастей</title>
  <link href="https://fonts.googleapis.com/css2?family=Averia+Serif+Libre&display=swap" rel="stylesheet"><!-- ссылка на шрифт -->
 <!--  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"> -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
  <script type="text/javascript" th:src="@{/js/common.js}"></script>
  <link media="all" rel="stylesheet" type="text/css" th:href="@{/css/style_part-edit.css}"><!-- ссылка на css всегда должна быть самой последней -->
</head>
<body>

<!--этот блок есть во всех страницах, кроме login-->
<!--это куда-нибудь в правый угол; положение - горизонтально-->
<div>
  <form th:action="@{/logout}" method="post" th:hidden="true" name="logoutForm">
    <input type="submit"/>
  </form>
  <div>
    <span class="fas fa-light fa-user fa-2x"></span>
  </div>
  <div class="dropdown">
    <a class="link dropdown-toggle" data-toggle="dropdown"
       sec:authentication="principal.username"></a>
    <div>
      <a th:href="@{/users}">Пользователи</a>
    </div>
    <div>
      <a id="logoutLink" th:href="@{/logout}">Выйти</a>
    </div>
  </div>
</div>

<h1 th:text="${'Изменение состояния запчастей велосипеда ' + bike.number + ' / ' + bike.qrNumber}"/>
<div class="homeBut">
  <button class="home"><a class="home" th:href="@{'/bikes/show/' + ${part.bikeId}}" th:text="'Назад'"/></button>
  <button class="home"><a class="home" th:href="@{'/bikes'}" th:text="'На главную'"/></button>
</div>
<div class="container">
  <!--Форма редактирования запчастей-->
  <form th:action="@{/parts/edit}"
        th:object="${part}" method="post" class="form-vertical">

    <!--Неизменяемые части part-->
    <input type="hidden" th:field="*{bikeId}" class="form-control" hidden/>
    <input type="hidden" th:field="*{bike}" class="form-control" hidden/>

    <!--Селекты. Названия полей запишу в комментарии.-->
  <div class="partsLeft">
    <div class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>Переднее колесо - 
      <!--Переднее колесо-->
      <select th:field="*{f_wheel}" required>
        <option value="true">Работает</option>
        <option value="false">Сломан</option>
      </select>
    </div>
    <hr>
    <div class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>Заднее колесо - 
      <!--Заднее колесо-->
      <select th:field="*{r_wheel}" required>
        <option value="true">Работает</option>
        <option value="false">Сломан</option>
      </select>
    </div>
    <hr>
    <div class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span> Передний тормоз - 
      <!--Передний тормоз-->
      <select th:field="*{f_brake}" required>
        <option value="true">Работает</option>
        <option value="false">Сломан</option>
      </select>
    </div>
    <hr>
    <div class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>Задний тормоз - 
      <!--Задний тормоз-->
      <select th:field="*{r_brake}" required>
        <option value="true">Работает</option>
        <option value="false">Сломан</option>
      </select>
    </div>
    <hr>
    <div class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>Передняя покрышка/камера - 
      <!--Передняя покрышка/камера-->
      <select th:field="*{f_tyre}" required>
        <option value="true">Работает</option>
        <option value="false">Сломан</option>
      </select>
    </div>
    <hr>
    <div  class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>Задняя покрышка/камера - 
      <!--Задняя покрышка/камера-->
      <select th:field="*{r_tyre}" required>
        <option value="true">Работает</option>
        <option value="false">Сломан</option>
      </select>
    </div>
    <hr>
    <div  class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>Цепь - 
      <!--Цепь-->
      <select th:field="*{chain}" required>
        <option value="true">Работает</option>
        <option value="false">Сломан</option>
      </select>
    </div>
    <hr>
    <div  class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>Седло/Подседельный штырь - 
      <!--Седло/Подседельный штырь-->
      <select th:field="*{saddle}" required>
        <option value="true">Работает</option>
        <option value="false">Сломан</option>
      </select>
    </div>
    <hr>
  </div>  


  <div class="partsRight">
    <div  class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>Шатуны - 
      <!--Шатуны-->
      <select th:field="*{crank}" required>
        <option value="true">Работает</option>
        <option value="false">Сломан</option>
      </select>
    </div>
    <hr>
    <div  class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>Переключатель передач - 
      <!--Переключатель передач-->
      <select th:field="*{gears}" required>
        <option value="true">Работает</option>
        <option value="false">Сломан</option>
      </select>
    </div>
    <hr>
    <div  class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>Левая педаль - 
      <!--Левая педаль-->
      <select th:field="*{l_pedal}" required>
        <option value="true">Работает</option>
        <option value="false">Сломан</option>
      </select>
    </div>
    <hr>
    <div  class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>Правая педаль - 
      <!--Правая педаль-->
      <select th:field="*{r_pedal}" required>
        <option value="true">Работает</option>
        <option value="false">Сломан</option>
      </select>
    </div>
    <hr>
    <div  class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>Кассета/Трещотка - 
      <!--Кассета/Трещотка-->
      <select th:field="*{cassete}" required>
        <option value="true">Работает</option>
        <option value="false">Сломан</option>
      </select>
    </div>
    <hr>
    <div  class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>Передние звёзды - 
      <!--Передние звёзды-->
      <select th:field="*{chain_wheel}" required>
        <option value="true">Работает</option>
        <option value="false">Сломан</option>
      </select>
    </div>
    <hr>
    <div class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>Каретка - 
      <!--Каретка-->
      <select th:field="*{bot_bracket}" required>
        <option value="true">Работает</option>
        <option value="false">Сломан</option>
      </select>
    </div>
    <hr>
    <div  class="input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>Руль/Вынос/Грипсы - 
      <!--Руль/Вынос/Грипсы-->
      <select th:field="*{steering_wheel}" required>
        <option value="true">Работает</option>
        <option value="false">Сломан</option>
      </select>
    </div>
    <hr>
  </div>
    <div  class="form-group">
      <div class="button">
        <button>Сохранить</button>
      </div>
    </div>
  </form>
</div>

</body>
</html>