<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="utf-8"/>
    <title>Новый пользователь</title>
    <link href="https://fonts.googleapis.com/css2?family=Averia+Serif+Libre&display=swap" rel="stylesheet"><!-- ссылка на шрифт -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script type="text/javascript" th:src="@{/js/common.js}"></script>
    <link media="all" rel="stylesheet" type="text/css" th:href="@{/css/style_user-edit.css}">
</head>

<body>
<div>
    <a th:href="@{/bikes}">[На главную]</a>
</div>
<div>
    <form th:action="@{/logout}" method="post" th:hidden="true" name="logoutForm">
        <input type="submit"/>
    </form>

    <div>
        <span class="fas fa-light fa-user fa-2x"></span>
    </div>
    <div>
        <a data-toggle="dropdown"
           sec:authentication="principal.username"></a>
        <div>
            <a th:href="@{/account}">Мой аккаунт</a>
        </div>
        <div>
            <a sec:authorize="hasAuthority('ADMIN')" th:href="@{/users}">Пользователи</a>
        </div>
        <div>
            <a id="logoutLink" th:href="@{/logout}">Выйти</a>
        </div>
    </div>
</div>

<h1  th:text="${user.id == null ? 'Добавление пользователя' : 'Изменение пользователя ' + user.username}"/></h1>

<div class="container">
    <form th:action="@{/users/save}"
          th:object="${user}" method="post" class="form-vertical" onsubmit="return checkUsername(this)">

        <input type="hidden" th:field="*{id}"/>
        <div  class="input-group inp"> <!--только латиница и цифры без пробелов от 2 до 20 символов-->
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input th:field="*{username}" placeholder="Логин" class="form-control form"
                   required minlength="3" maxlength="20" pattern="^[a-zA-Z][a-zA-Z0-9-_\.]{1,20}$"/>
        </div>

        <div  class="input-group inp"> <!--только латиница вместе с цифрами от 8 до 100 символов-->
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input th:if="${user.id == null}" type="password" th:field="*{password}"
                   minlength="8" maxlength="100" pattern="^(?=.*\d)(?=.*[a-zA-Z])(?!.*\s).*$"
                   placeholder="Пароль" class="form-control form" required/>
            <input th:if="${user.id != null}" type="password" th:field="*{password}"
                   placeholder="Ничего не вводите, если не хотите изменить" class="form-control form"
                   minlength="8" maxlength="100" pattern="^(?=.*\d)(?=.*[a-zA-Z])(?!.*\s).*$"/>

        </div>

        <div class="input-group inp">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input th:field="*{firstName}" placeholder="Имя (необязательно)" class="form-control form" maxlength="100"/>
        </div>

        <div class="input-group inp">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input th:field="*{lastName}" placeholder="Фамилия (необязательно)" class="form-control form" maxlength="100"/>
        </div>
    <div class="roles">
        <div  class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user">Роли:</i></span>
            <br>
            <th:block th:each="role : ${roles}">
                <input type="checkbox"
                       th:field="*{roles}"
                       th:text="${role.name}"
                       th:value="${role.id}"
                       class="form-control"
                />
            </th:block>
        </div>
        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user">Активен</i></span>
            <input type="checkbox" th:field="*{enabled}" />
        </div>
    </div>
        <div class="form-group button">
            <div>
                <button type="submit" class="btn">Сохранить</button>
                <button  type="button" class="btn"><a  th:href="@{'/users'}" th:text="Отмена"/></button>
            </div>
        </div>
    </form>
</div>
<!--Проверка уникальности логина-->
<script type="text/javascript">
    function checkUsername(form){
        url = "[[@{/check_username}]]";
        username = $("#username").val();
        userId = $("#id").val();
        csrfValue = $("input[name='_csrf']").val();
        params = {id: userId, username: username, _csrf: csrfValue};
        $.post(url, params, function(response){
            if(response == "OK"){
                form.submit();
            } else if(response == "Duplicated"){
                alert("Есть другой пользователь с логином " + username);
            } else {
                alert("Произошло что-то непонятное...");
            }
        }).fail(function(){
            alert("Невозможно подключиться к серверу.");
        });

        return false;
    }
</script>
</body>
</html>
