<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Новый пользователь</title>
    <link href="https://fonts.googleapis.com/css2?family=Averia+Serif+Libre&display=swap" rel="stylesheet"><!-- ссылка на шрифт -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
</head>

<body>
<h1  th:text="${user.id == null ? 'Добавление пользователя' : 'Изменение пользователя ' + user.username}"/></h1>

<div class="container">
    <form th:action="@{/users/save}"
          th:object="${user}" method="post" class="form-vertical" onsubmit="return checkUsername(this)">

        <input type="hidden" th:field="*{id}"/>
        <div  class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input th:field="*{username}" placeholder="Логин" class="form-control" required/>
        </div>

        <div  class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input th:if="${user.id == null}" type="password" th:field="*{password}"
                   placeholder="Пароль" class="form-control" required/>
            <input th:if="${user.id != null}" type="password" th:field="*{password}"
                   placeholder="Ничего не вводите, если не хотите изменить" class="form-control"/>

        </div>

        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input th:field="*{firstName}" placeholder="Имя (необязательно)" class="form-control"/>
        </div>

        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
            <input th:field="*{lastName}" placeholder="Фамилия (необязательно)" class="form-control"/>
        </div>

        <div  class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user">Роли:</i></span>
            <th:block th:each="role : ${roles}">
                <input type="checkbox"
                       th:field="*{roles}"
                       th:text="${role.name}"
                       th:value="${role.id}"
                       class="form-control"
                />
            </th:block>
        </div>

        <div class="input-group">
            <span class="input-group-addon"><i class="glyphicon glyphicon-user">Активен</i></span>
            <input type="checkbox" th:field="*{enabled}" />
        </div>

        <div class="form-group button">
            <div>
                <button type="submit" class="btn">Сохранить</button>
                <button  type="button" class="btn"><a  th:href="@{'/users'}" th:text="Отмена"/></button>
            </div>
        </div>
    </form>
</div>

<!--Проверка уникальности логина-->
<!--Изменить окно ошибки-->
<script type="text/javascript">
    function checkUsername(form){
        url = "[[@{/users/check_username}]]";
        username = $("#username").val();
        userId = $("#id").val();
        csrfValue = $("input[name='_csrf']").val();
        params = {id: userId, username: username, _csrf: csrfValue};
        $.post(url, params, function(response){
            if(response == "OK"){
                form.submit();
            } else if(response == "Duplicated"){
                alert("Есть другой пользователь с логином " + username);
            } else {
                alert("Произошло что-то непонятное...");
            }
        }).fail(function(){
            alert("Невозможно подключиться к серверу.");
        });

        return false;
    }
</script>

</body>
</html>