<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Пользователи</title>
    <link href="https://fonts.googleapis.com/css2?family=Averia+Serif+Libre&display=swap" rel="stylesheet"><!-- ссылка на шрифт -->
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/417822ee3c.js" crossorigin="anonymous"></script>
    <link media="all" rel="stylesheet" type="text/css" th:href="@{/css/style_users.css}"> <!-- ссылка на css всегда должна быть самой последней -->
</head>

<body>
<H1>Пользователи</H1>



<!--Сообщение об успешном добавлении/изменении-->
<div th:if="${message != null}">
    [[${message}]]
</div>

<!--добавить к заголовкам таблицы классы в спаны
при выбранной сортировке у имени поля должна появляться стрелочка
классы назвал произвольно, чтоб понятно было что куда-->
<div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>
                    <a th:if="${sortField != 'username'}"
                       th:href="@{'/users/page/' + ${currentPage} + '?sortField=username&sortDir=' + ${sortDir}}">
                        логин
                    </a>
                    <a th:if="${sortField == 'username'}"
                       th:href="@{'/users/page/' + ${currentPage} + '?sortField=username&sortDir=' + ${reverseSortDir}}">
                        логин
                    </a>
                    <span th:if="${sortField == 'username'}"
                          th:class="${sortDir == 'asc' ? 'arrow-up' : 'arrow-down'}"/>
                </th>
                <th>
                    <a th:if="${sortField != 'firstName'}"
                       th:href="@{'/users/page/' + ${currentPage} + '?sortField=firstName&sortDir=' + ${sortDir}}">
                        Имя
                    </a>
                    <a th:if="${sortField == 'firstName'}"
                       th:href="@{'/users/page/' + ${currentPage} + '?sortField=firstName&sortDir=' + ${reverseSortDir}}">
                        Имя
                    </a>
                    <span th:if="${sortField == 'firstName'}"
                          th:class="${sortDir == 'asc' ? 'arrow-up' : 'arrow-down'}"/>
                </th>
                <th>
                    <a th:if="${sortField != 'lastName'}"
                       th:href="@{'/users/page/' + ${currentPage} + '?sortField=lastName&sortDir=' + ${sortDir}}">
                        Фамилия
                    </a>
                    <a th:if="${sortField == 'lastName'}"
                       th:href="@{'/users/page/' + ${currentPage} + '?sortField=lastName&sortDir=' + ${reverseSortDir}}">
                        Фамилия
                    </a>
                    <span th:if="${sortField == 'lastName'}"
                          th:class="${sortDir == 'asc' ? 'arrow-up' : 'arrow-down'}"/>
                </th>
                <th>
                    <a th:if="${sortField != 'enabled'}"
                       th:href="@{'/users/page/' + ${currentPage} + '?sortField=enabled&sortDir=' + ${sortDir}}">
                        Активен
                    </a>
                    <a th:if="${sortField == 'enabled'}"
                       th:href="@{'/users/page/' + ${currentPage} + '?sortField=enabled&sortDir=' + ${reverseSortDir}}">
                        Активен
                    </a>
                    <span th:if="${sortField == 'enabled'}"
                          th:class="${sortDir == 'asc' ? 'arrow-up' : 'arrow-down'}"/>
                </th>
                <th>Роль</th>
                <th class="textCenter">Кнопки</th>
            </tr>
        </thead>
        <tbody>
            <tr class="trTab" th:each="user : ${users}">
                <td th:text="${user.id}"/>
                <td th:text="${user.username}"/>
                <td th:text="${user.firstName}"/>
                <td th:text="${user.lastName}"/>
                <td th:text="${user.enabled}"/>
                <td th:text="${user.roles}"/>
                <td class="textCenter">
                    <button  type="submit" class="btn btnTab">
                        <a  th:href="@{'/users/edit/' + ${user.id}}"><i class="fa-solid fa-pen"></i></a>
                    </button>

                    <button  type="submit" class="btn btnTab">
                        <a  th:href="@{'/users/delete/' + ${user.id}}"><i class="fa-solid fa-delete-left"></i></a>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <div th:if="${totalItems > 0}">
        <span>
            Пользователи с [[${startCount}]] по [[${endCount}]] из [[${totalItems}]].
        </span>
    </div>
    <div th:unless="${totalItems > 0}">
        <span>
            Пользователи не найдены.
        </span>
    </div>
    <div>
        <nav>
            <ul>
                <!--Если первая, то кнопки неактивны, классы в css называй как хочешь, я только пример привёл.
                С последней и следующей кнопками то же самое.-->
                <li th:class="${currentPage > 1 ? 'page-item': 'page-item disabled'}">
                    <a th:href="@{'/users/page/1?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">В начало</a>
                </li>
                <li th:class="${currentPage > 1 ? 'page-item': 'page-item disabled'}" >
                    <a th:href="@{'/users/page/' + ${currentPage - 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">☚ Туда</a>
                </li>
                <!--Если текущая страница, то объект активный (подсвечивается), иначе - обычный-->
                <li th:class="${currentPage != i ? 'page-item' : 'page-item active'}"
                    th:each="i: ${#numbers.sequence(1, totalPages)}">
                    <a th:href="@{'/users/page/' + ${i} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]</a>
                </li>
                <li th:class="${currentPage < totalPages ? 'page-item': 'page-item disabled'}">
                    <a th:href="@{'/users/page/' + ${currentPage + 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Сюда ☛</a>
                </li>
                <li th:class="${currentPage < totalPages ? 'page-item': 'page-item disabled'}">
                    <a th:href="@{'/users/page/' + ${totalPages} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">В конец</a>
                </li>
            </ul>
        </nav>
    </div>

</div>

<div>
    <button type="submit" class="btn btnTab add"><a  th:href="@{'/users/add/'}" th:text="Добавить" class="add" /></button>
</div>

</body>
</html>