<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="utf-8"/>
    <title>Пользователи</title>
    <link href="https://fonts.googleapis.com/css2?family=Averia+Serif+Libre&display=swap" rel="stylesheet"><!-- ссылка на шрифт -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <script src="https://kit.fontawesome.com/417822ee3c.js" crossorigin="anonymous"></script>
    <link media="all" rel="stylesheet" type="text/css" th:href="@{/css/style_users.css}"> <!-- ссылка на css всегда должна быть самой последней -->
</head>

<body>

<!--этот блок есть во всех страницах, кроме login-->
<!--это куда-нибудь в правый угол; положение - горизонтально-->
<!--надо сделать что-то типа dropdown из bootstrap: чтоб из имени юзера выпадала менюшка-->
<div>
    <form th:action="@{/logout}" method="post" th:hidden="true" name="logoutForm">
        <input type="submit"/>
    </form>

    <div>
        <span class="fas fa-light fa-user fa-2x"></span>
    </div>
    <div>
        <a data-toggle="dropdown"
           sec:authentication="principal.username"></a>
        <div>
            <a th:href="@{/users}">Пользователи</a>
        </div>
        <div>
            <a id="logoutLink" th:href="@{/logout}">Выйти</a>
        </div>
    </div>
</div>

<H1>Пользователи</H1>

<!--Сообщение об успешном добавлении/изменении/удалении-->
<div th:if="${message != null}">
    [[${message}]]
</div>

<div>
    <form th:action="@{/users/page/1}" class="form-inline">
        <input type="hidden" name="sortField" th:value="${sortField}">
        <input type="hidden" name="sortDir" th:value="${sortDir}">
        <input type="search" name="keyword" th:value="${keyword}" class="form-control search" required>
        <input  class="inputSearch" type="submit" value="Поиск"/>
        <input  class="inputSearch" type="button" value="Очистить" onclick="clearFilter()"/>
    </form>
</div>

<!--добавить к заголовкам таблицы классы в спаны
при выбранной сортировке у имени поля должна появляться стрелочка
классы назвал произвольно, чтоб понятно было что куда-->
<div>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>ID</th>
                <th>
                    <a th:if="${sortField != 'username'}"
                       th:href="@{'/users/page/' + ${currentPage} + '?sortField=username&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">
                        Логин
                    </a>
                    <a th:if="${sortField == 'username'}"
                       th:href="@{'/users/page/' + ${currentPage} + '?sortField=username&sortDir=' + ${reverseSortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">
                        Логин
                    </a>
                    <span th:if="${sortField == 'username'}"
                          th:class="${sortDir == 'asc' ? 'arrow-up' : 'arrow-down'}"/>
                </th>
                <th>
                    <a th:if="${sortField != 'firstName'}"
                       th:href="@{'/users/page/' + ${currentPage} + '?sortField=firstName&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">
                        Имя
                    </a>
                    <a th:if="${sortField == 'firstName'}"
                       th:href="@{'/users/page/' + ${currentPage} + '?sortField=firstName&sortDir=' + ${reverseSortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">
                        Имя
                    </a>
                    <span th:if="${sortField == 'firstName'}"
                          th:class="${sortDir == 'asc' ? 'arrow-up' : 'arrow-down'}"/>
                </th>
                <th>
                    <a th:if="${sortField != 'lastName'}"
                       th:href="@{'/users/page/' + ${currentPage} + '?sortField=lastName&sortDir=' + ${sortDir}+ ${keyword != null ? '&keyword=' + keyword : ''}}">
                        Фамилия
                    </a>
                    <a th:if="${sortField == 'lastName'}"
                       th:href="@{'/users/page/' + ${currentPage} + '?sortField=lastName&sortDir=' + ${reverseSortDir}+ ${keyword != null ? '&keyword=' + keyword : ''}}">
                        Фамилия
                    </a>
                    <span th:if="${sortField == 'lastName'}"
                          th:class="${sortDir == 'asc' ? 'arrow-up' : 'arrow-down'}"/>
                </th>
                <th>
                    <a th:if="${sortField != 'enabled'}"
                       th:href="@{'/users/page/' + ${currentPage} + '?sortField=enabled&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">
                        Активен
                    </a>
                    <a th:if="${sortField == 'enabled'}"
                       th:href="@{'/users/page/' + ${currentPage} + '?sortField=enabled&sortDir=' + ${reverseSortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">
                        Активен
                    </a>
                    <span th:if="${sortField == 'enabled'}"
                          th:class="${sortDir == 'asc' ? 'arrow-up' : 'arrow-down'}"/>
                </th>
                <th>Роль</th>
                <th class="textCenter">Кнопки</th>
            </tr>
        </thead>
        <tbody>
            <tr class="trTab" th:each="user : ${users}">
                <td th:text="${user.id}"/>
                <td th:text="${user.username}"/>
                <td th:text="${user.firstName}"/>
                <td th:text="${user.lastName}"/>
                <td th:text="${user.enabled}"/>
                <td th:text="${user.roles}"/>
                <td class="textCenter">
                    <button  type="submit" class="btn btnTab">
                        <a  th:href="@{'/users/edit/' + ${user.id}}"><i class="fa-solid fa-pen"></i></a>
                    </button>

                    <button  type="submit" class="btn btnTab">
                        <a  th:href="@{'/users/delete/' + ${user.id}}"><i class="fa-solid fa-delete-left"></i></a>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
    <div th:if="${totalItems > 0}">
        <span>
            Пользователи с [[${startCount}]] по [[${endCount}]] из [[${totalItems}]].
        </span>
    </div>
    <div th:unless="${totalItems > 0}">
        <span>
            Пользователи не найдены.
        </span>
    </div>
    <nav>
            <ul class="pagination">
                <li th:class="${currentPage > 1 ? 'page-item': 'page-item disabled'}">
                    <a class="page-link" th:href="@{'/bikes/page/1?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">В начало</a>
                </li>
                <li th:class="${currentPage > 1 ? 'page-item': 'page-item disabled'}" >
                    <a class="page-link" th:href="@{'/bikes/page/' + ${currentPage - 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">☚ Туда</a>
                </li>
                <li th:class="${currentPage != i ? 'page-item' : 'page-item active'}"
                    th:each="i: ${#numbers.sequence(1, totalPages)}">
                    <a class="page-link" th:href="@{'/bikes/page/' + ${i} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">[[${i}]]</a>
                </li>
                <li th:class="${currentPage < totalPages ? 'page-item': 'page-item disabled'}">
                    <a class="page-link" th:href="@{'/bikes/page/' + ${currentPage + 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">Сюда ☛</a>
                </li>
                <li th:class="${currentPage < totalPages ? 'page-item': 'page-item disabled'}">
                    <a class="page-link" th:href="@{'/bikes/page/' + ${totalPages} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} + ${keyword != null ? '&keyword=' + keyword : ''}}">В конец</a>
                </li>
            </ul>
        </nav>

</div>

<div>
    <button type="submit" class="btn btnTab add"><a  th:href="@{'/users/add/'}" th:text="Добавить" class="add" /></button>
</div>

<script>
    function clearFilter(){
        window.location = "[[@{/users}]]"
    }
</script>

<script type="text/javascript">
    $(document).ready(function() {
        $("#logoutLink").on("click", function(e) {
            e.preventDefault();
            document.logoutForm.submit();
        });
    });
</script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>